{% load bootstrap4 %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="{% static 'css/home.css' %}">

 </head>
 <body>
    {% block content %}

<div style="text-align: center">
<h1>Welcome to The Danse Macabre</h1>
<p>"According to legend, Death appears at midnight every year on Halloween. Death calls forth the dead from their graves to dance for him while he plays his fiddle (here represented by a solo violin). His skeletons dance for him until the rooster crows at dawn, when they must return to their graves until the next year."
    -- Analysis of Danse macabre (Saint-Saëns) --
</p>
{% include "searchfilter.html" %}  
</div>

 {% for image in images %}    
{{ forloop.parentloop.counter }}

    
    <!-- IMAGE WAS HERE!!--> 
     <div class="container">
        <div class="card">
  
       <div class="card-body">
    
      <a href="{{image.image_id}}">             
                
                   
                       
<img src="{{ image.image.url }}" class="img-responsive" style="width:100%">
                        
                 

                    
                    
                
            {% endfor %}
                     
                
                </div>

            </div>

        
        {% endblock %}
    
</div>
</body>