{%extends 'main/base.html'%}
 {% block content %}

<div class="container">

    <div class="row mt-2">
        <figure>
            <img src="{{image.image.url}}" class="img-fluid">
        </figure>
    </div>

    <div class="row">
        <h1 class="text-center">{{image.title}}</h1>
    </div>

    <div class="row">
        <p>{{image.description}}</p>
    </div>

    <div class="row">
        <p class="badge badge-secondary">Category: {{image.category}}</p>
        <p style="margin-left:20px" class="badge badge-warning">Artist: {{image.artist}}</p>
    </div>

</div>
{% endblock %}

