{%extends 'main/base.html'%}
{% load bootstrap4 %}
 {% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% if title %}
    <title>Danse Macabre - {{title}}</title>
    {% else %}
    <title> Danse Macabre</title>

    {% endif %} {% block styles %} 
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather" rel="stylesheet">
     {% endblock %}
</head>
<body>
    <div class="container">

    <div style="text-align: center">

{% block content %}
<br>
<br>

<div class ="centered">


<form method = "get" action= {% url 'search' %}>
    {% csrf_token %}
   {{ filter.form.as_p}} 
   <button type="submit">Filter By Category</button>
</form>
<br>
<br>
<div

    
<div class ="imageresult card-deck">
    
    {% for image in filter.qs %}
    
     <!-- <img src ="{{ image.image.url }}" class="img-responsive" style="width:100%"> <br>
          {{ image.title }} <br> <br>
          {{image.description}}</li>
    <br>
    <br> -->

    
   

<div class="container">

    <div class="row mt-3">
        <figure>
            <img src="{{image.image.url}}" class="img-fluid">
        </figure>
    </div>

    <div class="row">
        <h1 class="text-center">{{image.title}}</h1>
    </div>

    <div class="row">
        <p>{{image.description}}</p>
    </div>

    <div class="row">
        <p class="badge badge-secondary">Category: {{image.category}}</p>
        <p style="margin-left:20px" class="badge badge-warning">Artist: {{image.artist}}</p>
    </div>

</div>
{% endfor %}
    
    {% endblock %} 


            </div>
        </div>
       
     </div>
    </div>
    </div>
    
</body>

</html>